# This is a view template
# The name of this file .erb stands for embedded ruby

<h1>Hello World</h1>
  <ul>
     <li><a href='/dice/2/6'>Roll two 6-sided dice (2d6)</a></li>
     <li><a href='/dice/2/10'>Roll two 10-sided dice (2d10)</a></li>
     <li><a href='/dice/1/20'>Roll one 20-sided die (1d20)</a></li>
     <li><a href='/dice/5/4'>Roll five 4-sided dice (5d4)</a></li>
   </ul>
